/* RESETS */



/* GLOBAL CLASSES */

/* FLEX BOX */

/* CUSTOM CLASSES */

/* GLOBAL CLASSES */
html, body {
    padding: 0;
    margin: 0;
  }

body {
    background-color:black;
    color:white;
    font-family: 'Dosis', sans-serif;
    font-size:16px;
    text-align:center;
    margin:20px;
}

* {
    box-sizing: border-box;
  }

.container{
    display:inline-flex;
}

.item{
    flex: 1;
    order:1;
}
  /* @media (min-width: 576px) 
  {
     height: 100%;
   } */

  /* .clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  } */

.pink {
    color:pink;
    font-weight: bold;
}


li{
    list-style:none;
}

i{
    color:rgb(208, 228, 32);
    font-size:30px;
}
/* avatar img */

img{
    width:200px;
    height:200px;
    border-radius:50%;
}
.column1 {
    width: 50%;
    height: auto;
    
}
.column2 {
    width: 50%;
    height: auto;
}
/* .table,th,td{
    border:2px solid black;
} */